body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-1;
}

.brand-logo {
    font-weight: 600;
    color: $color-white;
    line-height: 5.5rem;
    text-decoration: none;
    cursor: pointer;
}

// Headings
// Heading-1
.heading-primary {
    font-size: 3rem;
    &--main {
        color: $color-primary-dark;
        font-size: 4rem;
        line-height: 1.4;
        font-weight: 600;
        animation: moveInLeft 1s ease-out;
        @include respond(screen-s) {
            font-size: 4.5rem;
        }
        @include respond(screen-m) {
            font-size: 6rem;
        }
        @include respond(screen-l) {
            font-size: 4rem;
        }
    }
    &--sub {
        display: block;
        color: $color-grey-light-2;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .75rem;
        padding: 0 .5rem;
        // animation: moveInRight 1s ease-out;
        @include respond(screen-m) {
            letter-spacing: 1.5rem;
        }
        @include respond(screen-l) {
            letter-spacing: 1rem;
            font-size: 1.5rem;
        }
    }
}

// Heading-2
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    color: $color-grey-dark-1;
    letter-spacing: .2rem;
    transition: all .2s;
    @include respond(screen-s) {
        font-size: 3rem;
    }
    @include respond(screen-m) {
        font-size: 2.5rem;
    }
}

// Heading-3
.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 600;
    text-transform: uppercase;
}

// Heading-3
.heading-4 {
    font-size: $default-font-size;
    font-weight: 600;
}

// Paragraph
.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

// Headings end

// Parts of Page
.section-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    i {
        font-size: 5rem;
    }
}


.section-bar {
    // background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/resources/img/patthai-wrapped-lg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    max-width: 100vw;
    height: 40rem;
    overflow: hidden;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 3rem;
        i {
            text-align: center;
            font-size: 5rem;
        }
    }
}

.text__wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 3rem 3rem;
}

.underline {
    width: 7rem;
    height: .1rem;
    background: $color-primary;
    margin-bottom: 1rem;
}

