.about {
    padding-bottom: 10rem;
    width: 80%;
    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-content: space-around;
        width: 100%;

        @include respond(screen-l){
            flex-flow: row;
        }
    }
    &__item {
        margin-bottom: 2rem;
        background: $color-white;
        
        display: flex;
        flex-flow: column wrap;
        flex: 0 0 calc(33.3333% - 1rem);
        // @include respond(screen-m) {
        //     flex: 0 0 calc(50% - 1rem);
        // }

        transition: box-shadow .3s ease-in-out;

        &:hover{
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
        @include respond(screen-l) {
            flex: 0 0 calc(33.3333% - 1rem);
        }
    }
   
    &__info {
        display: flex;
        flex-flow: column wrap;
        padding: 5rem 2rem 3rem;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        &--icon{
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        &--sub {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        &-text {
            font-size: $default-font-size;
            flex: 1;
        }
    }


}