.service {
    width: 80%;
    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-content: space-around;
        width: 100%;
        @include respond(screen-l) {
            flex-flow: row;
        }
    }
    &__item {
        margin-bottom: 2rem;
        background: $color-white;
        display: flex;
        flex-flow: column wrap;
        flex: 0 0 calc(33.3333% - 1rem);
        transition: box-shadow .3s ease-in-out;
        position: relative;
        &:hover {
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
        @include respond(screen-l) {
            flex: 0 0 calc(33.3333% - 1rem);
        }
    }
    .item {
        &-1{
            background: linear-gradient(rgba($color-tertiary, .6), rgba($color-tertiary-light, .6)), url('../img/package1.jpeg')center/cover; 
        }
        &-2{
            background: linear-gradient(rgba($color-tertiary, .6), rgba($color-tertiary, .6)), url('../img/package2.jpeg')center/cover; 
        }
        &-3{
            background: linear-gradient(rgba($color-tertiary-dark, .6), rgba($color-tertiary-dark, .6)), url('../img/package3.jpeg')center/cover; 
       }

        &__header {
            text-align: center;
            padding: 3rem 0 7rem;
            margin-bottom: 4rem;
        }

        &__heading{
            color: $color-grey-light-1;
        }
        &__body{
            list-style: none;
            padding: 0 2rem 0rem;
            margin-top: 1rem;
            flex: 1;
            text-align: center;
            font-size: 1.2rem;
            &-text{
                border-bottom: .1rem solid $color-grey-light-2;
            }
        }
        &__footer{
            display: flex;
            justify-content: center;
            padding: 1.5rem 0;
        }
        
        &__figure{
            position: absolute;
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            background: $color-grey-light-1;
            box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            top: 6rem;

        }

        &__price {
            font-size: 3rem;
        }


    }
   
}