.navbar {
    position: fixed;
    right: 0rem;
    z-index: 10;

    // /*burger menu icon*/
    .menu-icon__wrapper{
        display: inline-block;
    }
    .menu-icon {
        z-index: 11;
        top: 5rem;
        right: 3rem;
        cursor: pointer;
        position: absolute;
        .line {
            height: .2rem;
            width: 2.5rem;
            background-color: $color-grey-dark-3;
            margin-bottom: .6rem;
            &-1,
            &-3 {
                transition: all .4s;
            }
        }
    }
   
    // /* navigation */
    .nav-menu {
        position: fixed;
        right: -40rem;
        top: 0;
        width: 40rem;
        height: 100vh;
        background: linear-gradient(to top, rgba($color-primary-dark, 1), rgba($color-primary-dark, .8));
        z-index: 5;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        transition: right .8s cubic-bezier(1, 0, 0, 1);
        &__header{
            padding-top: 3rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }
        &__heading {
            align-self: center;
            font-size: 3.5rem;
            font-weight: 300;
            letter-spacing: .2rem;
            color: $color-primary-light;
            text-align: center;
        }
        &__list {
            list-style: none;
            padding: 0;
            height: 28rem;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            position: relative;
        }
        &__link {
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: .1rem;
            text-transform: uppercase;
            text-decoration: none;
            transition: color .5s;
            &::before {
                content: '';
                width: 0rem;
                height: .1rem;
                background: $color-primary-light;
                position: absolute;
                top: 1rem;
                left: -4rem;
                transition: width .5s cubic-bezier(1, 0, 0, 1);
            }
            &::after {
                content: '';
                width: 0rem;
                height: 0.1rem;
                background: $color-primary-light;
                position: absolute;
                top: 1rem;
                right: -4rem;
                transition: width .5s cubic-bezier(1, 0, 0, 1);
            }
            &:hover {
                color: $color-primary-light;
                &::before,
                &::after {
                    width: 3rem;
                }
            }
        }
    }
    .copyright {
        color: $color-white;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    .checkbox:checked {
        ~.nav-menu {
            right: 0rem;
            top: 0;
        }
        ~.menu-icon__wrapper .line-1 {
            transform: rotate(-405deg) translate(-5px, 6px);
            width: 2.5rem;
            
            @include respond(screen-s){
                transform: rotate(-405deg) translate(-3px, 6px);
                width: 3rem;
            }
            @include respond(screen-m){
                transform: rotate(-405deg) translate(-3px, 6px);
                width: 3rem;
            }
            
            @include respond(screen-l){
                transform: rotate(-405deg) translate(-6px, 6px);
            }
        }
        ~.menu-icon__wrapper .line-2 {
            opacity: 0;
        }
        ~.menu-icon__wrapper .line-3 {
            transform: rotate(405deg) translate(-5px, -6px);
            width: 2.5rem;
          
            @include respond(screen-s){
                transform: rotate(405deg) translate(-4px, -7px);
                width: 3rem;
            }
            @include respond(screen-m){
                transform: rotate(405deg) translate(-3px, -6px);
                width: 3rem;
            }
            @include respond(screen-l){
                transform: rotate(405deg) translate(-8px, -7px);
            }
        }
    }
    /* navigation ends*/
}