/*
    320px - 479px:      Screen Extra Extra Small   screen-xs       <= Design Default
    480px - 639px:      Screen Extra Small         screen-s  
    768px - 991px:      Screen Medium              screen-m        <= Standard
    992px - 1199px:     Screen Large               screen-l
    1200px - 1799px:    Screen Extra Large         screen-xl
    1800px +:           Screen Extra Extra Large   screen-xxl      <= Special

1em = 16px;

ORDER:

1. Base & Typography
2. General Layout & Grid
3. Page Layout
4. Components

*/
@keyframes blink {
  0% {
    border-color: transparent; }
  50% {
    border-color: #333; }
  100% {
    border-color: transparent; } }

@keyframes type {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*///Based Font Size/Browser Default Font Size: 10px/16px = 0.625 // 10px: size we want for 1rem, 16px: default size = % of default size   /*/
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden; }
  @media only screen and (min-width: 30em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 62em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }

::selection {
  background-color: #4274a7;
  color: #fff; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #999; }

.brand-logo {
  font-weight: 600;
  color: #fff;
  line-height: 5.5rem;
  text-decoration: none;
  cursor: pointer; }

.heading-primary {
  font-size: 3rem; }
  .heading-primary--main {
    color: #0062aa;
    font-size: 4rem;
    line-height: 1.4;
    font-weight: 600;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (min-width: 30em) {
      .heading-primary--main {
        font-size: 4.5rem; } }
    @media only screen and (min-width: 48em) {
      .heading-primary--main {
        font-size: 6rem; } }
    @media only screen and (min-width: 62em) {
      .heading-primary--main {
        font-size: 4rem; } }
  .heading-primary--sub {
    display: block;
    color: #eee;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .75rem;
    padding: 0 .5rem; }
    @media only screen and (min-width: 48em) {
      .heading-primary--sub {
        letter-spacing: 1.5rem; } }
    @media only screen and (min-width: 62em) {
      .heading-primary--sub {
        letter-spacing: 1rem;
        font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  color: #999;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (min-width: 30em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (min-width: 48em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.6rem;
  font-weight: 600; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center; }
  .section-title i {
    font-size: 5rem; }

.section-bar {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 90%;
  max-width: 100vw;
  height: 40rem;
  overflow: hidden;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-bar__title {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3rem; }
    .section-bar__title i {
      text-align: center;
      font-size: 5rem; }

.text__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 3rem 3rem; }

.underline {
  width: 7rem;
  height: .1rem;
  background: #4274a7;
  margin-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 62em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 62em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.logo-shadow {
  text-shadow: 0.5rem 0.5rem 2rem #000; }

.page-shadow {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); }

.about {
  padding-bottom: 10rem;
  width: 80%; }
  .about__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 100%; }
    @media only screen and (min-width: 62em) {
      .about__wrapper {
        flex-flow: row; } }
  .about__item {
    margin-bottom: 2rem;
    background: #fff;
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 calc(33.3333% - 1rem);
    transition: box-shadow .3s ease-in-out; }
    .about__item:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 62em) {
      .about__item {
        flex: 0 0 calc(33.3333% - 1rem); } }
  .about__info {
    display: flex;
    flex-flow: column wrap;
    padding: 5rem 2rem 3rem;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .about__info--icon {
      font-size: 2.5rem;
      margin-bottom: 2rem; }
    .about__info--sub {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 1rem; }
    .about__info-text {
      font-size: 1.6rem;
      flex: 1; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer; }
  @media only screen and (min-width: 30em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }
  @media only screen and (min-width: 62em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.1rem; } }
  @media only screen and (min-width: 75em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.5rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--dark {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #0062aa;
  color: #fff;
  border: none; }
  @media only screen and (min-width: 30em) {
    .btn--dark {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--dark {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--dark {
      padding: .5rem 7rem; } }

.btn--light {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #7abed2;
  color: #fff;
  border: none; }
  @media only screen and (min-width: 30em) {
    .btn--light {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--light {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--light {
      padding: .5rem 7rem; } }
  .btn--light::after {
    background-color: #4274a7; }

.btn--white {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: #fff;
  color: #0062aa;
  border: none; }
  @media only screen and (min-width: 30em) {
    .btn--white {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--white {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--white {
      padding: .5rem 7rem; } }
  .btn--white::after {
    background-color: #4274a7; }

.btn--transparent {
  text-decoration: none;
  padding: .5rem 4rem;
  margin: .5rem;
  background-color: transparent;
  color: #fff;
  border: 0.1rem solid #7abed2; }
  @media only screen and (min-width: 30em) {
    .btn--transparent {
      padding: .5rem 6rem; } }
  @media only screen and (min-width: 48em) {
    .btn--transparent {
      padding: 1rem 11rem; } }
  @media only screen and (min-width: 62em) {
    .btn--transparent {
      padding: .5rem 7rem; } }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4274a7;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4274a7;
  padding: 3px;
  transition: all .2; }

.btn-text:hover {
  background-color: #4274a7;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.customer {
  width: 100%;
  padding: 5rem 0 9rem;
  font-size: 1.6rem;
  display: flex;
  color: #c9c9c9; }
  .customer__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  @media only screen and (min-width: 62em) {
    .customer__item {
      flex: 0 0 calc(33.3333% - 1rem); } }
  .customer__text {
    padding: 1rem 2rem 1rem; }
  .customer__info {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 2rem; }
  .customer__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
  .customer__detail {
    margin-left: 1rem; }

.form {
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem 5rem;
  margin: 10rem auto 0rem;
  max-width: 80rem;
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
  color: #0062aa;
  font-size: 1.6rem; }
  .form__sender {
    display: flex;
    flex-flow: column; }
    @media only screen and (min-width: 48em) {
      .form__sender {
        flex-flow: row;
        margin-bottom: 2rem;
        justify-content: space-between; } }
  .form .sender__name, .form .sender__email {
    display: flex;
    flex-flow: column;
    flex: 1; }
    @media only screen and (min-width: 48em) {
      .form .sender__name, .form .sender__email {
        flex: 0 0 calc(50% - 1rem); } }
  .form__message {
    display: flex;
    flex-flow: column; }
  .form__input, .form__textarea {
    border: none;
    border-bottom: 0.1rem solid #0062aa;
    outline: none;
    padding: .5rem;
    margin-bottom: 1rem;
    background: transparent; }
  .form__textarea {
    resize: none; }
  .form__cta {
    display: flex;
    flex-flow: row;
    justify-content: center; }
  .form .required-fields {
    font-size: 1rem; }
  .form__btn {
    align-self: center; }

.portfolio {
  width: 90%; }
  .portfolio__heading {
    color: #f7f7f7; }
  .portfolio__wrapper {
    display: grid;
    grid-template-rows: repeat(7, 5vw);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem; }
  .portfolio__item > * {
    width: 100%; }
  .portfolio__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .portfolio__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .portfolio__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7; }
  .portfolio__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1; }
  .portfolio__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .portfolio__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .portfolio__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6; }
  .portfolio__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .portfolio__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / -1; }
  .portfolio__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2; }
  .portfolio__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .portfolio__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5; }
  .portfolio__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .portfolio__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / -1; }
  .portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.service {
  width: 80%; }
  .service__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 100%; }
    @media only screen and (min-width: 62em) {
      .service__wrapper {
        flex-flow: row; } }
  .service__item {
    margin-bottom: 2rem;
    background: #fff;
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 calc(33.3333% - 1rem);
    transition: box-shadow .3s ease-in-out;
    position: relative; }
    .service__item:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 62em) {
      .service__item {
        flex: 0 0 calc(33.3333% - 1rem); } }
  .service .item-1 {
    background: linear-gradient(rgba(153, 53, 208, 0.6), rgba(230, 118, 238, 0.6)), url("../img/package1.jpeg") center/cover; }
  .service .item-2 {
    background: linear-gradient(rgba(153, 53, 208, 0.6), rgba(153, 53, 208, 0.6)), url("../img/package2.jpeg") center/cover; }
  .service .item-3 {
    background: linear-gradient(rgba(77, 14, 81, 0.6), rgba(77, 14, 81, 0.6)), url("../img/package3.jpeg") center/cover; }
  .service .item__header {
    text-align: center;
    padding: 3rem 0 7rem;
    margin-bottom: 4rem; }
  .service .item__heading {
    color: #f7f7f7; }
  .service .item__body {
    list-style: none;
    padding: 0 2rem 0rem;
    margin-top: 1rem;
    flex: 1;
    text-align: center;
    font-size: 1.2rem; }
    .service .item__body-text {
      border-bottom: 0.1rem solid #eee; }
  .service .item__footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0; }
  .service .item__figure {
    position: absolute;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background: #f7f7f7;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: 6rem; }
  .service .item__price {
    font-size: 3rem; }

.footer {
  background: #fff;
  font-size: 1.4rem;
  color: #333;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .footer__wrapper {
    padding: 5rem 0 3rem; }
    @media only screen and (min-width: 48em) {
      .footer__wrapper {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between; } }
  .footer__item {
    flex: 0 0 calc(33.3333% - 1rem);
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #f7f7f7;
    padding: 2rem 5rem;
    margin: 4rem 0;
    position: relative; }
    @media only screen and (min-width: 30em) {
      .footer__item {
        padding: 2rem 8rem; } }
    @media only screen and (min-width: 48em) {
      .footer__item {
        padding: 2rem 4rem;
        margin: 0; } }
    @media only screen and (min-width: 62em) {
      .footer__item {
        padding: 2rem 0; } }
    .footer__item .item__heading {
      font-weight: 600;
      font-size: 2rem; }
    .footer__item .item__body {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 100%;
      align-items: center; }
    .footer__item .item__section {
      display: flex;
      margin: .5rem 0;
      width: 80%; }
    .footer__item .item__link {
      cursor: pointer; }
    .footer__item .item__icon {
      padding-top: .5rem;
      margin-right: 4rem; }
    .footer__item .item__social-icons {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      font-size: 2rem;
      margin-top: 2rem; }
  .footer__map {
    width: 100%; }
  .footer__copyright {
    width: 100%;
    text-align: center;
    margin: 2rem auto 1rem; }

.header, .main-content, .footer {
  max-width: 100vw; }

.header {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  background: linear-gradient(rgba(122, 190, 210, 0.7), #0062aa), url("../img/header_bg.jpeg") top center/cover no-repeat fixed; }
  .header__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    @media only screen and (min-width: 62em) {
      .header__wrapper {
        justify-content: center; } }
  .header__welcome {
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
    @media only screen and (min-width: 48em) {
      .header__welcome {
        width: 60%;
        padding: 0rem 0;
        border-radius: 1.5rem; } }
    @media only screen and (min-width: 62em) {
      .header__welcome {
        width: 70%; } }
  .header__heading {
    text-align: center; }
    @media only screen and (min-width: 62em) {
      .header__heading {
        text-align: left; } }
  .header__logo {
    font-size: 1rem;
    top: 3rem;
    left: 3rem;
    max-width: 100vw;
    position: absolute;
    display: inline-block; }
    @media only screen and (min-width: 30em) {
      .header__logo {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        left: 3.5rem; } }
    @media only screen and (min-width: 48em) {
      .header__logo {
        font-size: 2rem; } }
    @media only screen and (min-width: 62em) {
      .header__logo {
        font-size: 1.5rem; } }
  .header__cta {
    margin-top: 2rem; }
    @media only screen and (min-width: 62em) {
      .header__cta {
        width: 70%; } }
    .header__cta-wrapper {
      display: flex;
      flex-flow: column;
      justify-content: flex-start; }
      @media only screen and (min-width: 62em) {
        .header__cta-wrapper {
          flex-flow: row; } }

.navbar {
  position: fixed;
  right: 0rem;
  z-index: 10;
  /* navigation ends*/ }
  .navbar .menu-icon__wrapper {
    display: inline-block; }
  .navbar .menu-icon {
    z-index: 11;
    top: 5rem;
    right: 3rem;
    cursor: pointer;
    position: absolute; }
    .navbar .menu-icon .line {
      height: .2rem;
      width: 2.5rem;
      background-color: #333;
      margin-bottom: .6rem; }
      .navbar .menu-icon .line-1, .navbar .menu-icon .line-3 {
        transition: all .4s; }
  .navbar .nav-menu {
    position: fixed;
    right: -40rem;
    top: 0;
    width: 40rem;
    height: 100vh;
    background: linear-gradient(to top, #0062aa, rgba(0, 98, 170, 0.8));
    z-index: 5;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
    .navbar .nav-menu__header {
      padding-top: 3rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
    .navbar .nav-menu__heading {
      align-self: center;
      font-size: 3.5rem;
      font-weight: 300;
      letter-spacing: .2rem;
      color: #7abed2;
      text-align: center; }
    .navbar .nav-menu__list {
      list-style: none;
      padding: 0;
      height: 28rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center; }
    .navbar .nav-menu__item {
      position: relative; }
    .navbar .nav-menu__link {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-decoration: none;
      transition: color .5s; }
      .navbar .nav-menu__link::before {
        content: '';
        width: 0rem;
        height: .1rem;
        background: #7abed2;
        position: absolute;
        top: 1rem;
        left: -4rem;
        transition: width 0.5s cubic-bezier(1, 0, 0, 1); }
      .navbar .nav-menu__link::after {
        content: '';
        width: 0rem;
        height: 0.1rem;
        background: #7abed2;
        position: absolute;
        top: 1rem;
        right: -4rem;
        transition: width 0.5s cubic-bezier(1, 0, 0, 1); }
      .navbar .nav-menu__link:hover {
        color: #7abed2; }
        .navbar .nav-menu__link:hover::before, .navbar .nav-menu__link:hover::after {
          width: 3rem; }
  .navbar .copyright {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem; }
  .navbar .checkbox:checked ~ .nav-menu {
    right: 0rem;
    top: 0; }
  .navbar .checkbox:checked ~ .menu-icon__wrapper .line-1 {
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem; }
    @media only screen and (min-width: 30em) {
      .navbar .checkbox:checked ~ .menu-icon__wrapper .line-1 {
        transform: rotate(-405deg) translate(-3px, 6px);
        width: 3rem; } }
    @media only screen and (min-width: 48em) {
      .navbar .checkbox:checked ~ .menu-icon__wrapper .line-1 {
        transform: rotate(-405deg) translate(-3px, 6px);
        width: 3rem; } }
    @media only screen and (min-width: 62em) {
      .navbar .checkbox:checked ~ .menu-icon__wrapper .line-1 {
        transform: rotate(-405deg) translate(-6px, 6px); } }
  .navbar .checkbox:checked ~ .menu-icon__wrapper .line-2 {
    opacity: 0; }
  .navbar .checkbox:checked ~ .menu-icon__wrapper .line-3 {
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.5rem; }
    @media only screen and (min-width: 30em) {
      .navbar .checkbox:checked ~ .menu-icon__wrapper .line-3 {
        transform: rotate(405deg) translate(-4px, -7px);
        width: 3rem; } }
    @media only screen and (min-width: 48em) {
      .navbar .checkbox:checked ~ .menu-icon__wrapper .line-3 {
        transform: rotate(405deg) translate(-3px, -6px);
        width: 3rem; } }
    @media only screen and (min-width: 62em) {
      .navbar .checkbox:checked ~ .menu-icon__wrapper .line-3 {
        transform: rotate(405deg) translate(-8px, -7px); } }

.section__about {
  background: #f7f7f7;
  max-width: 100vw;
  padding: 10rem 0 5rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__portfolio {
  background: linear-gradient(rgba(151, 229, 180, 0.7), #088146);
  color: #f7f7f7;
  max-width: 100vw;
  min-height: 100vh;
  padding: 10rem 0 10rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__service {
  background: #f7f7f7;
  max-width: 100vw;
  overflow: hidden;
  padding: 10rem 0 10rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.section__contact {
  background: linear-gradient(rgba(230, 118, 238, 0.7), #4d0e51), url("../img/contact.jpg") center/cover no-repeat fixed;
  padding: 20rem 0 0; }
  .section__contact .contact__heading, .section__contact .contact__text {
    color: #c9c9c9; }
